.Services {
  .Heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 3rem;
    font-size: 2rem;

    h1{
      position: absolute;
    font-size: 6rem;
    background-color: #ffffffb5;
    padding: 2rem;
    border-radius: 50px;
    }
  }

  .split{
    padding: 1rem 20rem;
    text-align: left;

    p {
      font-size: 1rem !important;
    }
  }

  .intro {
    padding: 1rem 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      width: 40vw;
      text-align: center !important;
      font-size: 1.25rem;
    }
    h3 {
      color: #195586;
      font-size: 2rem;
      padding-top: 1rem;
    }   
    
    h1 {
      color: gray;
      font-size: 4rem;
      padding-top: 1rem;
    }

   
  }
}